/laravel-bs-pos/.phpunit.cache
/laravel-bs-pos/node_modules
/laravel-bs-pos/public/build
/laravel-bs-pos/public/hot
/laravel-bs-pos/public/storage
/laravel-bs-pos/storage/*.key
/laravel-bs-pos/vendor
/laravel-bs-pos/.env
/laravel-bs-pos/.env.backup
/laravel-bs-pos/.env.production
/laravel-bs-pos/.phpactor.json
/laravel-bs-pos/.phpunit.result.cache
/laravel-bs-pos/Homestead.json
/laravel-bs-pos/Homestead.yaml
/laravel-bs-pos/auth.json
/laravel-bs-pos/npm-debug.log
/laravel-bs-pos/yarn-error.log
/laravel-bs-pos/.fleet
/laravel-bs-pos/.idea
/laravel-bs-pos/.vscode
/composer.phar